body {
  
  margin: 0px !important;
  color: #555555;               /* Dark gray */
  background-color: #F1F1F1;    /* Light gray */
  font-size: 18px;
  background: #cfe7fa; /* Old browsers */
  background: -moz-linear-gradient(top, #cfe7fa 0%, #6393c1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #cfe7fa 0%,#6393c1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #cfe7fa 0%,#6393c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */  
    
}

.centerDiv {
   width:50%;
   margin:0 auto;
   padding:30px;
   background-color: #fffff4;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6, p, ul {
  font-family: 'Open Sans', sans-serif;                             /* Add this */
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: lower-roman;
}

a {
  text-decoration: none;
}

p {
  text-align: left;
}

strong {
  color: #414242;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media only screen and (max-width: 700px) {
    .centerDiv {
   width:100%;
   padding:0px;
   
   }
}
