body {
  color: #555555;               /* Dark gray */
  background-color: #F1F1F1;    /* Light gray */
  font-size: 18px;
}

.centerDiv {
  
  text-align: center;
  width:80%;
  margin:0 auto;
  background:cyan;

}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6, p, ul {
  font-family: 'Open Sans', sans-serif;                             /* Add this */
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: lower-roman;
}

a {
  text-decoration: none;
}

p {
  text-align: left;
}

strong {
  color: #414242;
}
